#navigation_bar {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  height: 65px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigation_bar > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#navigation_bar > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-underline-offset: 4px;
  cursor: pointer;
}

#navigation_bar > ul > li > a {
  color: var(--white);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 200ms ease;
  text-decoration: underline solid 2px black;
}

#navigation_bar > ul > li.active_nav a,
#navigation_bar > ul > li:hover a {
  text-decoration: underline solid 2px gold;
}