.display {
  height: 65px;
  font-size: 30px;
  text-align: end;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 6px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}   