* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.calc {
  display: flex;
  flex-direction: column;
  width: calc(4 * 120px);
  border: 1px solid black;
}